<h1>Edit Settings</h1>

<%= form_with model: @settings, url: admin_settings_path do |f| %>
  <div>
    <%= f.label :ai_threshold %><br>
    <%= f.number_field :ai_threshold, step: 0.01 %>
  </div>

  <div>
    <%= f.label :commission_percent %><br>
    <%= f.number_field :commission_percent, step: 0.01 %>
  </div>

  <div>
    <%= f.label :min_bid_step %><br>
    <%= f.number_field :min_bid_step, step: 0.01 %>
  </div>

  <%= f.submit "Save" %>
<% end %>
