<h1>Cài đặt hệ thống</h1>

<p><b>Ngưỡng AI:</b> <%= @settings.ai_threshold %></p>
<p><b>Hoa hồng %:</b> <%= @settings.commission_percent %></p>
<p><b>Bước giá tối thiểu:</b> <%= @settings.min_bid_step %></p>

<p><b>Mã QR Admin (ENV):</b></p>
<pre><%= @admin_qr_payload %></pre>

<%= link_to "Chỉnh sửa", edit_admin_settings_path %>
