<h1>Xác minh email</h1>
<p>Hệ thống đã gửi mã OTP tới: <b><%= current_user.email %></b></p>

<%= form_with url: email_verification_path do %>
  <div>
    <label>Mã OTP</label><br>
    <%= text_field_tag :code %>
  </div>
  <%= submit_tag "Xác minh" %>
<% end %>

<%= button_to "Gửi lại OTP", resend_email_verification_path, method: :post %>
