<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Snapbid" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if notice.present? %>
      <div style="margin:12px;padding:10px;border:1px solid #cce;border-radius:8px;background:#eef;">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="margin:12px;padding:10px;border:1px solid #ecc;border-radius:8px;background:#fee;">
        <%= alert %>
      </div>
    <% end %>
  
    <%= yield %>
    <div style="padding:12px;border-bottom:1px solid #ddd;">
      <% if user_signed_in? %>
        <b><%= current_user.name %></b>
        | <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Đăng ký", new_user_registration_path %> |
        <%= link_to "Đăng nhập", new_user_session_path %>
      <% end %>
    </div>

  </body>
</html>
